@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Noto Sans', sans-serif;
}
    
:root{
    /* colors */
    --colNoirPhoto:#181818;
    --col2: #2F4858;
    --col3: #165B6F;
    --col4: #00707E;

    --alt1:#008483;
    --alt2: #00987D;
    --alt3:#04AA6D;
    --alt4:#0BE0BA;
}   
.topcontainer{
    background-color: var(--col4);
}
.titles{
    color: white;
       
}
footer{
    background-color: var(--col1);
    position:fixed;
    height: 100px;
}